@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Micro+5+Charted&family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(19, 19, 19);
}

main {
    position: relative;
    max-width: 450px;
    width: 100%;
    max-height: 800px;
    height: 100%;
    background-color: #70C5CD;
}

.playOn {
    display: none;
}

.menu {
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    padding-top: 2rem;
}

.birdList {
    animation: upDown 800ms ease-in-out infinite;
    scale: 1.2;
}

.birdContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.birdContainer button {
    height: 100%;
    aspect-ratio: 1/1;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    padding: 0.2rem 0.5rem;
    background-color: #E86101;
    border: 0.25rem solid white;
    box-shadow: 2px 4px rgb(85, 48, 0),
        -2px 4px rgb(85, 48, 0),
        2px -2px rgb(85, 48, 0),
        -2.5px 0px rgb(85, 48, 0),
        0px 4px rgb(85, 48, 0),
        0px -2.5px rgb(85, 48, 0),
        2.5px 0px rgb(85, 48, 0),
        -2px -2px rgb(85, 48, 0), 2px 0 rgb(85, 48, 0);
    text-shadow: 0 2px rgb(192, 81, 5);
    align-self: flex-start;
}

.birdList .birdImg {
    display: flex;
    overflow: hidden;
    height: 2rem;
    aspect-ratio: 92/64;

    background-image: url('./images/rainbowBird.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.start img {
    margin-top: 4rem;
    width: 8rem;
}

.start img:hover,
.birdContainer button:hover {
    cursor: pointer;
}

.start img:active,
.birdContainer button:active {
    scale: 0.9;
}

.name {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    z-index: 15;
}

.name img {
    width: 15rem;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    position: absolute;
    padding: 0.2rem 0.5rem;
    margin: 0.5rem;
    top: 0;
    left: 0;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: #E86101;
    border: 0.25rem solid white;
    box-shadow: 2px 4px rgb(85, 48, 0),
        -2px 4px rgb(85, 48, 0),
        2px -2px rgb(85, 48, 0),
        -2px -2px rgb(85, 48, 0), 2px 0 rgb(85, 48, 0);
    text-shadow: 0 2px rgb(192, 81, 5);
    scale: 0;
    transition: all 0.3s ease;
}

.life {
    scale: 0;
    width: fit-content;
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 10;
    transition: all 0.3s ease;
}

.life img {
    width: 1.4rem;
}

.playsection {
    overflow: hidden;
    position: relative;
    height: 90%;
    max-height: 800px;
    width: 100%;
}

.playsection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    transition: all 0.5s ease;
    opacity: 1;
}

.ground {
    height: 10%;
    min-height: 64px;
    width: 100%;
    position: relative;
    z-index: 5;
}

.groundContainer {
    background: url('./images/ground.png');
    background-size: contain;
    height: 100%;
    width: 100%;
    animation: groundMove 6s linear infinite;
}

@keyframes groundMove {
    0% {
        background-position-x: 100%;
    }

    100% {
        background-position-x: -100%;
    }
}

.bird {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-100%);
    height: 2rem;
    aspect-ratio: 92/64;
    z-index: 5;
    background-image: url('./images/bird.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: upDown 800ms ease-in-out infinite;

    transition-property: top;
    transition-timing-function: ease-out;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.birdInner {
    height: 1.2rem;
    width: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.birdInner:first-child {
    height: 2rem;
    width: 1rem;
}

@keyframes upDown {
    0% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(-10%);
    }
}

.object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.objChild {
    position: absolute;
    bottom: 0;
    right: 0;
    height: fit-content;
    height: 100%;
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --translateY: -50%;
    transform: translateX(100%) translateY(var(--translateY));
    animation: pipeMove 6.3s infinite linear;
}

.objChild img:first-child {
    transform: rotate(180deg);
    margin-bottom: 6rem;
}

.objChild img:last-child {
    margin-top: 6rem;
}

.objChild img {
    width: 80px;
}


@keyframes pipeMove {
    0% {
        transform: translateX(100%) translateY(var(--translateY));
    }

    100% {
        transform: translateX(-100%) translateY(var(--translateY));
    }
}

.restart {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -80%);
    width: 10rem;
    z-index: 10;
}

.restart img:first-child {
    width: 15rem;
    margin: 2rem;
}

.restart img {
    transition: scale 0.3s ease;
    scale: 0;
}

.restart img:last-child {
    width: 6rem;
}

.restart img:hover {
    cursor: pointer;
}

.restart img:active {
    scale: 0.9;
}

.message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message img {
    width: 14rem;
    transition: all 0.3s ease;
}